#conash3D0
{
display:none;
}


body {
margin: 10px;
font: 76%/1.6em verdana, tahoma, arial,  sans-serif; 
text-align: center;
}

.topLinks{
	font-size: 13px; 
	font-weight: bold; 
	color: #000000; 
	text-decoration: none;
}

a.topLinks:hover, a.subLinks:hover
{
    color: #990000;
}

.activeTopLink 
{
	font-size: 14px; 
	font-weight: bold; 
    color: #990000;
    text-decoration: none;
}

.gthbLinkCell
{
    width: 50%;
    text-align: center;
    vertical-align: middle;
    border-bottom: solid 1px #888888;
}

.seperator
{
    color: #FFCC00;
    font-weight:bold;
}

.topLinkText
{
	font-size: 16px; 
	font-weight: bold; 
	color: #000000; 
	text-decoration: none;
	margin-left: 20px;		
}

.topLinkSubText
{
	font-size: 16px; 
	font-weight: normal; 
	color: #000000; 
	text-decoration: none;
	margin-left: 20px;		
}

.subLinks
{
	font-size: 11px; 
	font-weight: bold; 
	color: #000000; 
	text-decoration: underline;
}

.activeSubLinks
{
    font-size: 11px;
	font-weight: bold;
    color: #990000;
    text-decoration: none;
}

.navigationLinks
{
	font-size: 11px; 
	font-weight: normal; 
	color: #777777;
	text-decoration: underline;    
}

p
{
    font-family: verdana, arial, trebuchet ms,georgia; 
	font-size: 13px;     	
	text-align:justify;
	margin-left: 20px;
	margin-right: 25px;	
}

.infoLinks
{
    color: #000000;
     font-size: 12px;
     text-decoration: underline;
}
        
.copyrightLinks
{
    font-size: 10px;
    color: #444444;
    text-decoration: none;
}

a.copyrightLinks:hover
{
    text-decoration:underline;
}

.smallArial10
{
	font-family:Arial,Verdana;
	font-size:10pt;
}

.txt
{
	border:1px solid #CCCCCC;
}
 
.error
{
	color:Red;
	font-weight:bold;
	font-family:Arial,Verdana;
	font-size:12px;
}
 
.mandatory
{
	color:#990000;
	font-weight:bold;
	
}
 
.title
{
	font-weight:bold;
	font-size:12pt;
	font-family:Arial,Verdana;
}
 
.pageTitles
{
	width:100%;
	color:black;
	/*background-color:#ffffcc;*/
}
 
.tab
{
	background-color:#ffffcc;
	color:Black;
	border:0px solid black;
	padding-left:5px;
	font-family:Arial,Verdana;
	font-size:10pt;
	padding-bottom:2px;
}
 
.highlight
{
	color: black;
	background-color: Red;
	border-style: outset;
}
 
.bold
{
	font-weight:bold;
}
 
hr
{
	border:1px solid #CCCCCC;
}

.navigationActiveLinks
{
    font-size: 11px;
    font-weight: normal;
    color: #777777;
}

.featureLink
{
    color:#444444;
    font-size:13px;
    font-weight:bold;
}

.lightgrey
{
	color:#888888;
}

.pad
{
	padding-left:3px;
	line-height:1.5;
}

.translucent
{
	filter:alpha(opacity=40);
	-moz-opacity:0.4;
	opacity:0.4;
}

.searchText
{
	color:#990000;
}


@media screen
{
	.noDisplay
	{
		display:none;
	}
}

@media print
{
    .noPrint
    {
        display:none;
    }
    
    .noBorder
    {
        border: 0;
    }
}

.scheduleCell
{
    width:50%;
    vertical-align:top;
    padding-left:20px;
    font-family: verdana, arial, Sans-Serif, trebuchet ms;
    font-size: 13px;
    text-align:justify;
}

ul
{
    margin-top:0px;
    font-family: verdana, arial, Sans-Serif, trebuchet ms;
    font-size: 12px;
    text-align:justify;
}

.contentTable
{
    background-color: #FFFFFF;
    border-right: solid 1px #f0f0f0;
    border-left: solid 1px #f0f0f0;
}